@charset "UTF-8";


/*footer*/
#footer{
	width: 100%;
	border-top: 1px solid #CCCCCC;
	font-size: 14px;
}
#footer>div{
	overflow: hidden;
	width: 1240px;
	margin: 50px auto;
}
#footer section{
	width: 25%;
	float: left;
}
#footer section>h4, #footer section li{
	margin: 15px;
}


#foot_bar{
	border-top: 1px solid #CCCCCC;
	height: 100px;
	clear: both;
}
#foot_bar>#copyright{
	margin-top: 20px;	
	float: left;
}
#foot_bar>#foot_right{
	margin-top: 20px;	
}
#foot_bar span{
	display: inline-block;
}
#nation span{
	float : left;
	margin-right: 5px;
}
#foot_bar>#foot_right, #foot_bar>#foot_right>#sns>div{
	float: right;
}

#foot_bar>#foot_right>#sns img{
	width:18px;
	height: 18px;
	margin-right: 20px;
}