@charset "UTF-8";

#content{
	width: 1000px; margin: 0px auto;
	border: 0px solid red;overflow: hidden;
	margin-top: 5px;
}
#content> #main_nav{
	float: left; width: 155px;
	border: 0px solid blue;
}
#content> #main_nav li{
	height: 35px;
}
#content> #main{
	float: left; width: 600px;
	border: 0px solid blue;
	margin-left: 5px;
	margin-right: 5px;
}
#content> #main >div{
	border: 1px solid #CCCCCC;
	text-align: center;
	margin-bottom: 5px;
}
#content> #main >div:nth-child(1){
	height: 300px;
	line-height: 300px;
}
#content> #main >div:nth-child(2){
	height: 150px;
	line-height: 150px;
}
#content> #main >div:nth-child(3){
	height: 50px;
	background-color: #500095;
}
#content> #main >div:nth-child(3) li{
	float: left;
	margin: 0px 19px 0px 19px;
	color:#FFFFFF;
	line-height: 50px;
}
/*div3번째 이후의 모든 형제(동생) 같은 항렬 div*/
#content> #main >div:nth-child(3) ~ div{
	height: 120px;
	line-height: 120px;
}

#content> #main_banner{
	float: left; width:230px;
	border: 0px solid blue;
}
#content> #main_banner>div{
	border: 1px solid #CCCCCC;
	text-align: center;
	margin-bottom: 5px;
}
#content> #main_banner>div:nth-child(1){
	height: 100px;
	line-height: 100px;
}
#content> #main_banner>div:nth-child(2){
	height: 100px;
	line-height: 100px;
}#content> #main_banner>div:nth-child(3){
	height: 150px;
	line-height: 150px;
}#content> #main_banner>div:nth-child(4){
	height: 300px;
	line-height: 300px;
}